# Data Exploration

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport
# import numpy as np
# import matplotlib.pyplot as plt
# import seaborn as sns

In [3]:
df = pd.read_csv('../data/raw/super_store.csv')
df.sample(3)

,Row ID,Order ID,Order Date,Ship Date,Number of days,Ship Mode,Customer ID,Customer Name,Segment,City,...,Sales,Quantity,Unit Sales,Discount,Profit,Shipping Cost,Order Priority,Unit shipping cost,Profit_per_unit,unit cost
2423,19140.0,ES-2014-5117456,7/26/2019,7/28/2019,2.0,Second Class,GH-14410,Gary Hansen,Home Office,Montréal,...,45.960,4.0,11.490,0.0,0.360,1.04,Medium,0.26,0.090,11.14
8987,45146.0,SF-2014-6460,1/17/2019,1/24/2019,7.0,Standard Class,LS-6975,Lindsay Shagiari,Home Office,Vancouver,...,22.260,2.0,11.130,0.0,8.220,1.40,Low,0.70,4.110,6.32
7981,24384.0,ID-2014-42577,4/3/2019,4/7/2019,4.0,Standard Class,EM-13810,Eleni McCrary,Corporate,Gatineau,...,61.884,4.0,15.471,0.1,-6.276,2.51,Medium,0.63,-1.569,16.41

In [4]:
rep = ProfileReport(df)
rep.to_file(output_file='../html/super_store_eda.html')

Summarize dataset: 100%|██████████| 137/137 [00:36<00:00,  3.79it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:16<00:00, 16.83s/it]
Render HTML: 100%|██████████| 1/1 [00:07<00:00,  7.14s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 20.41it/s]

In [ ]:
# df.dtypes

In [ ]:
# df.isna().sum()

In [ ]:
# df.iloc[:,1:].describe(exclude=["object"])

In [ ]:
# # plot object columns ('country' and 'gender')
# plt.figure(figsize=(13,7))
# obj_cols = df.select_dtypes("object").columns.to_list()
# num_plt = 120

# for col in obj_cols:
#     df_ = df.groupby(col)[col].count().reset_index(name="count")
#     num_plt += 1

#     plt.subplot(num_plt)
#     plt.pie(df_["count"], labels=df_[col], autopct="%0.1f %%")
#     plt.legend(title=col)
# plt.show()

In [ ]:
# # plot numeric columns (int and float data types)
# plt.figure(figsize=(20,13))
# num_cols = df._get_numeric_data().columns.to_list()[1:]
# float_cols = df.select_dtypes("float64").columns.to_list()
# num_plt = 330

# for col in num_cols:
#     df_ = df.groupby(col)[col].count().reset_index(name="count")
#     num_plt += 1

#     plt.subplot(num_plt)
#     if col in float_cols:
#         plt.hist(df_[col], bins=10, label=col)
#         plt.legend()
#     else:
#         plt.bar(df_[col], df_["count"])
#         plt.xlabel(col)
# plt.show()

In [ ]:
# # relationship between 'products number' and 'customer churn'
# plt.figure(figsize=(13,4))
# sns.countplot(data=df, x="products_number", hue="churn")

In [ ]:
# # plot the density of customers based on 'age customer'
# plt.figure(figsize=(13,4))
# sns.kdeplot(data=df, x="age", hue="churn", fill=True)

In [ ]:
# # boxplot from 'gender' group by 'churn' for 'age customer'
# plt.figure(figsize=(13,7))
# sns.boxplot(data=df, x="gender", y="age", hue="churn")